<nav class="nav">
    <div class="nav__left">
        <a href="/">Home</a>
        <a href="/about/">About</a>
    </div>
    
    <div class="nav__right">
        <a href="https://github.com/{{ site.github }}" class="link-github">GitHub</a>
        <a href="https://medium.com/{{ site.medium }}" class="link-medium">Medium</a>
        <a href="https://facebook.com/{{ site.facebook }}" class="link-facebook">FB</a>
        <a href="https://linkedin.com/{{ site.linkedin }}" class="link-linkedin">LinkedIn</a>
    </div>
</nav>